@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center, .container {
    margin-left: auto;
    margin-right: auto
}

* {
    font-family: Lato, Helvetica, sans-serif;
    color: #333;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1, h1 {
    font-size: 36px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 24px
}

.h4, h4 {
    font-size: 18px
}

.h5, h5 {
    font-size: 14px
}

.h6, h6 {
    font-size: 12px
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 15px;
}

a, a:hover {
    text-decoration: none;
}


.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width: 1366px) {
    .container {
        width: 1230px
    }
}

.row {
    position: relative;
    width: 100%
}

.row [class^=col] {
    float: left;
    margin: .5rem 2%;
    min-height: .125rem
}

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    width: 96%
}

.col-1-sm {
    width: 4.33%
}

.col-2-sm {
    width: 12.66%
}

.col-3-sm {
    width: 21%
}

.col-4-sm {
    width: 29.33%
}

.col-5-sm {
    width: 37.66%
}

.col-6-sm {
    width: 46%
}

.col-7-sm {
    width: 54.33%
}

.col-8-sm {
    width: 62.66%
}

.col-9-sm {
    width: 71%
}

.col-10-sm {
    width: 79.33%
}

.col-11-sm {
    width: 87.66%
}

.col-12-sm {
    width: 96%
}

.row::after {
    content: "";
    display: table;
    clear: both
}

.hidden-sm {
    display: none
}

@media only screen and (min-width: 33.75em) {
    .container {
        width: 80%
    }
}

@media only screen and (min-width: 45em) {
    .col-1 {
        width: 4.33%
    }

    .col-2 {
        width: 12.66%
    }

    .col-3 {
        width: 21%
    }

    .col-4 {
        width: 29.33%
    }

    .col-5 {
        width: 37.66%
    }

    .col-6 {
        width: 46%
    }

    .col-7 {
        width: 54.33%
    }

    .col-8 {
        width: 62.66%
    }

    .col-9 {
        width: 71%
    }

    .col-10 {
        width: 79.33%
    }

    .col-11 {
        width: 87.66%
    }

    .col-12 {
        width: 96%
    }

    .hidden-sm {
        display: block
    }
}

@media only screen and (min-width: 60em) {
    .container {
        width: 75%;
        max-width: 60rem
    }
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.top-navbar {
    padding: 15px 0;
    background: #000;
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
}

.toggle-menu i.fa {
}

.toggle-menu a {
    color: #fff;
    text-decoration: none;
    padding-left: 24px;
    position: relative;
    z-index: 999999;
}

.toggle-menu a img {
    display: inline-block;
    position: relative;
    left: -5px;
    top: 4px;
}

body {
    font-family: 'PT Sans', sans-serif;
}

#mainSlider {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}


.boxSec-content.bg-black {
    background: #000;
}

@media (max-width: 1170px) {

    .boxSec-content.bg-black {
        height: 174px;
    }
}

.bg-gray {
    background: #f9f9f9;
}

.boxSec-content {
    position: relative;
    float: left;
    width: 100%;
    padding: 30px 40px;
    text-align: center;
    border: 2px solid #a7a7a7;
    margin-bottom: 30px;
}

.boxSec-content.mb30 {
    margin-bottom: 30px;
}

.p-relative {
    position: relative;
    margin-top: 100px !important;
}

.p-relative .boxSec-content {
    border: none;
}

.img-sec {
    background: #000;
    display: table;
    margin: 0 auto;
    padding: 50px 50px;
    border-radius: 100%;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

@media (max-width: 425px) {
    .img-sec {
        top: -55%;
    }
}

.img-sec img {
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.boxSec-content {
    background: #f9f9f9;
    transition: .5s;
}

.boxSec-content:hover {
    background: #000;
}

.boxSec-content:hover p {
    color: #a7a7a7;
}

.boxSec-content h3 {
    color: #fff;
    position: relative;
    z-index: 9;
}

.boxSec-content h4 {
    text-align: left;
    color: #0094ea;
    margin-bottom: 18px;
}

.boxSec-content p {
    text-align: left;
    font-weight: bold;
}

.boxSec-content.bg-black p {
    color: #a7a7a7;
}

.title-heading {
}

.title-heading h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .title-heading h1 {
        font-size: 24px;
    }
}


.title-heading p {
    font-weight: bold;
    font-size: 17px;
    color: #000;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .title-heading p {
        font-size: 15px;
    }
}

.title-heading .underline {
    position: relative;
    width: 150px;
    height: 5px;
    background: #0094ea;
    margin-bottom: 60px;
}

.boxSec-content.bg-black {
    background: #000;
}

input[type=checkbox] {
    display: none;
}


input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox] + label:before {
    content: "\f096";
}


input[type=checkbox] + label:before {
    letter-spacing: 10px;
}


input[type=checkbox]:checked + label:before {
    content: "\f046";
}

input[type=checkbox]:checked + label:before {
    letter-spacing: 5px;
    color: #0094ea;
}

.custom-checkbox {
    position: relative;
    margin-bottom: 50px;
}

@media (max-width: 425px) {
    .custom-checkbox {
        margin-bottom: 20px;
    }
}

.custom-checkbox ul {
    margin: 0;
    padding: 0;
}

.custom-checkbox ul li {
    list-style: none;
    margin-bottom: 10px;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .custom-checkbox ul li {
        font-size: 18px;
    }
}

.custom-checkbox ul li img {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f9f9f9;
    background-image: none;
    border: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea.form-control {
    height: 200px;
}

.form-sec {
    margin-bottom: 30px;
}

.form-sec h3 {
    margin-bottom: 30px;
}

.form-sec label {
    margin-bottom: 15px;
    display: block;
}

.btn-submit {
    padding: 15px 37px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    background: #0094ea;
    border: none;
    outline: none;
}


/*menu-css*/

.main-menu {
    background: #1c2c4c;
    padding: 90px 10% 0;
    z-index: 99;
    width: 100%;
    transition: .5s;
}

.main-menu ul {
    font-size: 0;
}

.main-menu ul li {
    display: block;
}

.main-menu ul li a {
    transition: all 0.8s;
    font-size: 3.4375rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #0094ea, #0094ea 50%, #fff 50%);
    background-image: -o-linear-gradient(to right, #e57625, #e57625 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.main-menu ul li a:before {
    content: '';
    background-color: #0094ea;
    width: 0px;
    height: 3px;
    position: absolute;
    left: -120px;
    bottom: 50%;
    transform: translateY(-50%);
    transition: all 0.8s;
}

.main-menu ul li a:hover {
    color: #fff;
    transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
}

.main-menu ul li a:hover:before {
    width: 90px;
}

.main-menu ul li.opacity-custom a {
    opacity: .2;
}

.main-menu .dropdown-menu {
    min-width: 0;
    padding: 0;
}

.main-menu .dropdown-menu li a {
    padding: 10px 30px;
    border-right: none;
    border-bottom: 1px solid #f7b72c;
    color: #fff;
}

.main-menu .dropdown-menu li a:hover, .main-menu .dropdown-menu li a:active, .main-menu .dropdown-menu li a:focus {
    background-color: #1c2c4c !important;
}

.hamburger {
    overflow: visible;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.hamburger:hover {
    opacity: .9;
}

.hamburger .hamburger-box {
    position: relative;
    display: inline-block;
    height: 16px;
    top: 1px;
    cursor: pointer;
    left: -24px;
}

.hamburger .hamburger-box .hamburger-inner {
    background-color: #fff;
    position: absolute;
    width: 21px;
    height: 2px;
    transition-property: transform;
    border-radius: 4px;
    top: auto;
    bottom: 0;
    transition-delay: .13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: .13s;
    left: -2px;
}

.hamburger .hamburger-box .hamburger-inner:before, .hamburger .hamburger-box .hamburger-inner:after {
    display: block;
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
}

.hamburger .hamburger-box .hamburger-inner:before {
    top: -6px;
    transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    width: 13px;
    margin-left: 0;
}
.hamburger:hover  .hamburger-box .hamburger-inner:before {
    margin-left: 8px;
    transition: all 0.5s;
}

.hamburger .hamburger-box .hamburger-inner:after {
    top: -12px;
    transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
    bottom: -10px;
}

.hamburger.is-active .hamburger-inner {
    transition-delay: .22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.hamburger.is-active .hamburger-inner:before {
    top: 0;
    transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
    transform: rotate(-90deg);
    width: 21px;
}

.hamburger.is-active:hover .hamburger-inner:before {
    margin-left: 0;
}

.hamburger.is-active .hamburger-inner:after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
    opacity: 0;
}

.navbar-section {
    position: relative;
}

.navbar-section .right-section {
    float: left;
    height: 100%;
    background: #0094ea;
    position: fixed;
    left: 101%;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999;
    transition: .4s;
}

.navbar-section .right-section.navebar-show {
    left: 28%;
    transition: .4s;
}

.navbar-section .left-section {
    background: #2a2e31;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform-origin: center left;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    -moz-transform-origin: center left;
    -o-transform-origin: center left;
    transition: transform 0.75s cubic-bezier(0.48, 0, 0.12, 1) 0.3s;
    -webkit-transition: transform 0.75s cubic-bezier(0.48, 0, 0.12, 1) 0.3s;
    -ms-transition: transform 0.75s cubic-bezier(0.48, 0, 0.12, 1) 0.3s;
    -moz-transition: transform 0.75s cubic-bezier(0.48, 0, 0.12, 1) 0.3s;
    -o-transition: transform 0.75s cubic-bezier(0.48, 0, 0.12, 1) 0.3s;
}

.navbar-section .left-section .navbar-menu {
    position: absolute;
    opacity: 0;
    transform: translateX(0) rotateY(-60deg) skewY(-7deg);
    -webkit-transform: translateX(0) rotateY(-60deg) skewY(-7deg);
    -ms-transform: translateX(0) rotateY(-60deg) skewY(-7deg);
    -moz-transform: translateX(0) rotateY(-60deg) skewY(-7deg);
    -o-transform: translateX(0) rotateY(-60deg) skewY(-7deg);
    transition: opacity 0.5s cubic-bezier(0.48, 0, 0.12, 1), -webkit-transform 1s cubic-bezier(0.48, 0, 0.12, 1);
    transition: transform 1s cubic-bezier(0.48, 0, 0.12, 1), opacity 0.5s cubic-bezier(0.48, 0, 0.12, 1);
    transition: transform 1s cubic-bezier(0.48, 0, 0.12, 1), opacity 0.5s cubic-bezier(0.48, 0, 0.12, 1), -webkit-transform 1s cubic-bezier(0.48, 0, 0.12, 1);
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 50%;
}

.navbar-section .left-section.navebar-show {
    left: 0;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.navbar-section .left-section.navebar-show .navbar-menu {
    opacity: 1;
    transform: translateX(-50%) rotateY(0deg) skewY(0deg);
    -webkit-transform: translateX(-50%) rotateY(0deg) skewY(0deg);
    -ms-transform: translateX(-50%) rotateY(0deg) skewY(0deg);
    -moz-transform: translateX(-50%) rotateY(0deg) skewY(0deg);
    -o-transform: translateX(-50%) rotateY(0deg) skewY(0deg);
    transition: opacity .5s ease-in-out .5s, -webkit-transform .6s ease-in-out .4s;
    transition: transform .6s ease-in-out .4s, opacity .5s ease-in-out .5s;
    transition: transform .6s ease-in-out .4s, opacity .5s ease-in-out .5s, -webkit-transform .6s ease-in-out .4s;
}


/*menu-css*/


/*========================================================================================================
================================ SLIDER-SECTION ===================================================================
===========================================================================================================*/
.slider-section {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

/*item*/
.slider-section .item {
    height: 100vh;
}
.slider-section .owl-next, .slider-section .owl-prev {
    position: absolute;
    transform: translateY(-50%);
}

@media (max-width: 414px) {
    .slider-section .owl-next img, .slider-section .owl-prev img {
        width: 15px;
    }
}

.slider-section .owl-next {
    top: 50%;
    right: 20px;
}

@media (max-width: 414px) {
    .slider-section .owl-next {
        right: 15px;
    }
}

.slider-section .owl-prev {
    top: 50%;
    left: 20px;
}

@media (max-width: 414px) {
    .slider-section .owl-prev {
        left: 15px;
    }
}

.slider-section .right-cirle-icon, .slider-section .left-cirle-icon {
    opacity: 0.2;
}

.slider-section .right-cirle-icon:hover, .slider-section .left-cirle-icon:hover {
    opacity: 1;
}

.slide-text {
    padding: 100px 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.slide-text ul li {
    display: inline-block;
    margin-right: 15px;
}

.slide-text h3 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}

@media (min-width: 992px) {
    .slide-text h3 {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .slide-text h3 {
        font-size: 24px;
    }
}

.slide-text h2 {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 30px;
    color: #fff;
}

@media (min-width: 992px) {
    .slide-text h2 {
        font-size: 120px;
    }
}

@media (max-width: 767px) {
    .slide-text h2 {
        font-size: 32px;
    }
}

.slide-text p {
    font-size: 15px;
    margin-bottom: 30px;
    color: #fff;
}

.btn-custom {
    font-size: 15.67px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 8px 30px;
}

@media (max-width: 414px) {
    .btn-custom {
        font-size: 14px;
    }
}

.btn-custom.bg-yellow {
    color: #fff;
    background: #0094ea;
}

.btn-custom.bg-prime {
    color: #fff;
    background: #6ed2e6;
}

.btn-custom:hover {
    background: #2f2f2f;
    border-color: #2f2f2f;
    color: #fff;
}


.footer-copright {
    background: #000;
    padding: 10px 0;
    float: left;
    width: 100%;
    position: relative;
}

.footer-copright p {
    font-size: 11px;
    font-family: Arial;
    color: rgba(255, 255, 255, 0.33);
    text-align: center;
}


.breadCrumb {
    padding: 0;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.breadCrumb .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    display: table;
    margin: 0 auto;
}

.breadCrumb .breadcrumb li {
    color: #17a2ee;
    font-size: 15px;
    font-family: Arial;
    display: inline;
}

@media (max-width: 414px) {
    .breadCrumb .breadcrumb li {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .breadCrumb .breadcrumb li {
        color: #1c2c4c;
    }
}

@media (max-width: 330px) {
    .breadCrumb .breadcrumb li {
        font-size: 11px;
    }
}

.breadCrumb .breadcrumb li a {
    color: #fff;
}

@media (max-width: 768px) {
    .breadCrumb .breadcrumb li a {
        color: #1c2c4c;
    }
}

.breadCrumb .breadcrumb li a img {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    margin-top: -3px;
}

@media (max-width: 414px) {
    .breadCrumb .breadcrumb li a img {
        margin-right: 10px;
    }
}

.breadCrumb .breadcrumb.hide {
    display: block !important;
    opacity: 0;
}

.breadCrumb .breadcrumb > li + li:before {
    content: '';
    background-image: url(../img/bdc-right.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
}

@media (max-width: 768px) {
    .breadCrumb .breadcrumb > li + li:before {
        background-image: url(../img/bdc-right-blue.png);
    }
}

@media (max-width: 414px) {
    .breadCrumb .breadcrumb > li + li:before {
        padding: 8px;
    }
}

.banner-section {
    height: 400px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.banner-section h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

/*title-heading-inner*/
.title-heading-inner {
    position: relative;
    margin-bottom: 30px;
}

.title-heading-inner h1 {
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 40px;
}

.title-heading-inner .underline {
    width: 150px;
    height: 4px;
    background: #17a2ee;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}


/*promis-section*/
.content-section {
    float: left;
    width: 100%;
    position: relative;
}

.promise-details {
    margin-bottom: 30px;
}

.promise-details h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

.promise-details p {
    margin-bottom: 0;
}

.get-touch {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.address, .title-section, .section-container {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.get-touch h4 {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 40px;
}

.get-touch a {
    font-size: 40px;
    margin-right: 15px;
}

.get-touch a i.fa {
    color: #17a2ee;
}

.get-touch span {
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

/*bg-section*/
.bg-section {
    float: left;
    width: 100%;
    position: relative;
    padding: 100px 15px 50px;
    color: #fff;
}

.bg-section h2 {
    color: #fff;
    margin-bottom: 15px;
}

.bg-section h1 {
    color: #17a2ee;
    margin-bottom: 15px;
    font-size: 50px;
}

.bg-section p {
    color: #fff;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
}

.dflex {
    background: #1d1d1d;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    z-index: 9;
}

@media (max-width: 1200px) {
    .dflex {
        top: 0;
    }
}

.dflex .details-add {
    text-align: center;
    color: #fff;
    width: 100%;
    border-right: 1px solid;
}

.dflex .details-add:last-child {
    border-right: none;
}

.dflex .details-add i {
    color: #17a2ee;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.dflex .details-add h4 {
    font-size: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.dflex .details-add p {
    font-size: 14px;
    margin-bottom: 0;
    color: #fff;
}

.promise-details {
}

.promise-details .custom-checkbox li a {
    font-size: 15px;
}

.promise-details .custom-checkbox li {
    margin-bottom: 0;
    font-size: 15px;
}

.box-sample {
    background: #f0f0f0;
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 15px;
}

.box-sample i.fa {
    font-size: 24px;
    color: #17a2ee;
    margin-bottom: 5px;
}

.box-sample p {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.box-sample ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-sample ul li a {
    margin-bottom: 5px;
    display: block;
}























.left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: -100%;
    bottom: auto;
    right: auto;
    background: #4d606e;
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.left-layer.active {
    left: 100%;
}
.left-layer--2 {
    background: #d3d4d8;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.left-layer--3 {
    background: #d3d4d8;
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
}
.left-layer--4 {
    background: #c06c84;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}
.right-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: 100%;
    bottom: auto;
    right: auto;
    background: #7f4a88;
    -webkit-transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}
